.character {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  position: relative;
  left: 10px;
}

.character.animate {
  animation-duration: 1s;
  animation-name: slidein2;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slidein2 {
  from {
    left: 10px;

  }

  to {
    left: 188px;

  }
}
