.details {
  border: 1px solid black;
  background-color: white;
  width: 335px;
  height: 540px;
  padding: 7px;
  padding-top: 15px;
  margin: 50px;
  margin-top: 20px;
  position: absolute;
  margin-left: -310px;
  z-index: 100;
}

.details-monster {
  border: 1px solid black;
  background-color: white;
  width: 335px;
  height: 540px;
  padding: 7px;
  padding-top: 15px;
  margin: 50px;
  margin-top: 20px;
  position: absolute;
  margin-left: 310px;
  z-index: 100;
}

.info {
  width: 134px;
}

.def {
  width: 158px;
}

.info-left {
  width: 74px;
}


.defense-mod {
  text-align: right;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 70px;
}
.group {
  display:flex;
}

li {
  font-weight: bold;
}


.top-container {
  display: flex;
}

.stats {
  display:flex;
}

.monster-name {
  color: #7E373A;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 5px;
}



.character-name {
  color: #425B9D;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 5px;
}


span {
  color: #425B9D;
  font-weight: bold;
}



ul {
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;

}

span.black {
  color:black;

}

span.percent {
  color:black;
  font-weight: normal;
}

.header {
  padding-top: 10px;
  color: #425B9D;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-decoration-color: black;
}

.attr {
  padding-right: 30px;
}

.attr-list {
  padding-right: 15px!important;
}

.right-list {
  padding-left: 10px;
  padding-right: 0px;
}

.left-list {
  text-align: right;
  width: 40px;
  padding-left: 0px;
  padding-right: 20px;
}

.description {
  color: #425B9D;
  font-weight: bold;
}
