.game-container {
  height: 750px;
  width: 1000px;
  border: 1px solid yellow;
  margin: auto;
  margin-top: 10px;

  background-size:100% 100%;
  /* background-color: #EDD4AF; */
}

.home {
  background-image: url('../images/home_screen.png');

  background-color: #eacfa6;
  /* background-image: linear-gradient(#eacfa6,#e0b87c); */
  outline: 0px solid black;
  outline-offset: -15px;

}

.battle {
  background-image: url('../images/forest_background.png');
}

.shop {
  background-color: #eacfa6;
  background-image: linear-gradient(#eacfa6,#e0b87c);
}
.content-container {
  height: 590px;
}
