.monster {
  width: 450px;
  height: 450px;
  border: 1px  black;
  position: relative;
  left: 188px;
  bottom: 0px;
  background-image: url("../images/monster_standing.png");
  background-size: cover;
  -webkit-filter: hue-rotate(deg);
}

.monster.animate {
  animation-duration: .5s;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    left: 188px;
    bottom: 0px;
  }

  to {
    left: -270px;
    bottom: 50px;

  }
}
